{% extends 'App/base.html' %}

{% block title %}Task Create{% endblock title %}




{% block main %}
    {% load crispy_forms_tags %}
    
    {% include 'App/Components/head.html' %}
    
    <h1>Task Create</h1>
    {% include 'App/Components/return_to_main.html' %}
    

    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{form.title|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{form.description|as_crispy_field}}
            </div>
        </div>

        {{form.complete|as_crispy_field}}
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
{% endblock main %}
